<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 정적리소스인 js 와 css파일을 링크 형식으로 현재 문서에 포함 -->
<script src="./js/commons.js"></script>
<link rel="stylesheet" href="./css/main.css" />
</head>
<body>
	<h2>Spring Security JDBC 연동</h2>
	<div th:insert="~{common/link :: commonLinks}"></div>
	<div class="spring-bg" onclick="myAlert();">
		클릭해보세요.
	</div>
</body>
</html>

