<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function deletePost() {
	if (confirm("정말로 이 게시글을 삭제하시겠습니까?")) {
		document.writeFrm.submit();
	}
}
</script>
</head>
<body>
	<h2>게시판 읽기(Mybatis)</h2>
	<form name="writeFrm" method="post" action="./delete.do">
	    <input type="hidden" name="idx" th:value="${boardDTO.idx}" />
	</form>
	<table border="1" width="90%">
	    <colgroup>
	        <col width="15%"/> <col width="35%"/>
	        <col width="15%"/> <col width="*"/>
	    </colgroup>
	    <!-- 게시글 정보 -->
	    <tr>
	        <td>번호</td>
	        <td th:text="${boardDTO.idx}"></td>
	        <td>작성자</td>
	        <td th:text="${boardDTO.name}"></td>
	    </tr>
	    <tr>
	        <td>작성일</td>
	        <td th:text="${boardDTO.postdate}"></td>
	        <td>조회수</td>
	        <td th:text="${boardDTO.visitcount}"></td>
	    </tr>
	    <tr>
	        <td>제목</td>
	        <td colspan="3" th:text="${boardDTO.title}"></td>
	    </tr>
	    <tr>
	        <td>내용</td>
	        <td colspan="3" height="100" th:utext="${boardDTO.content}"></td>
	    </tr>
	    <!-- 하단 메뉴(버튼) -->
	    <tr>
	        <td colspan="4" align="center">
				<button type="button"
				    th:onclick="location.href=[[@{/myboard/edit.do(idx=${boardDTO.idx})}]]">
				    수정하기
				</button>
				<button type="button" onclick="deletePost();">
				    삭제하기
				</button>
	            <button type="button"
	                onclick="location.href='./list.do';">
	                목록 바로가기
	            </button>
	        </td>
	    </tr>
	</table>
</body>
</html>
